.mt-n1 {
    padding: 2px;   
}

/* .row {
    margin-left: 20px;
} */

.row-title {
    color: rgb(245, 245, 109);
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-right: 20px;
}

.row-posters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    overflow-y: hidden;
    overflow-x: scroll;
}

.row-poster{
    object-fit: contain;
    max-width: 100%;
    border-radius: 6px;
    transition: transform 450ms;
    max-height: 350px;
}

.row-poster:hover {
    transform: scale(1.09);
    opacity: 1;  
}

.row-posters::-webkit-scrollbar {
    display: none;
}
